#Ignore binaries
*.so
*.a
ex_cat
ex_clone
ex_get
ex_inspect
ex_load
ex_put
ex_rw_test
ex_store
log_test
mk_linear
trace_replay
bootstrap
rs_test
rs_test_svr
os_test
os_fsck
lio_cp
lio_du
lio_find
lio_fsck
lio_get
lio_getattr
lio_setattr
lio_inspect
lio_ln
lio_ls
lio_mkdir
lio_mv
lio_put
lio_rm
lio_rmdir
lio_signature
lio_touch
lio_warm
lio_fuse
lio_rs
rs_server
#These are generated via cmake using the *.in variants
lio_client_version.c

#Skip edits
*~
*.log
*.out
*.replay
*.txt
!CMakeLists.txt
*.cfg
core*
vgcore.*
*.ex3

#Skip the CMake output files
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt

